//modules
@import "partials/normalize";
@import "partials/game";
@import "partials/chat";

@import url(https://fonts.googleapis.com/css?family=Caudex);

body {
  background-color: #070021;
}

* {
  box-sizing: border-box;
  font-family: 'Caudex';
  color: #fff;
}


