//modules
@import "partials/normalize";
@import "partials/game";
@import "partials/chat";

@import url(https://fonts.googleapis.com/css?family=Caudex);
@import url(https://fonts.googleapis.com/css?family=Uncial+Antiqua);

body {
  background-color: #000;
}

* {
  box-sizing: border-box;
  font-family: 'Caudex', serif;
  color: #fff;
}


