.game {
  position: fixed;
  display: none;
  bottom: 30px;
  left: 50%;
  margin: 0 0 0 -45px;
  width: 200px;
  width: 90px;
  height: 90px;
  border: 2px solid #91551b;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(180,178,132, 0.9);

  img {
    border-radius: 3px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.title {
  margin: 0;
  padding: 0.5em 2em;
  width: 100%;
  font-size: 50px;
  font-family: 'Uncial Antiqua', cursive;
  color: #FFF569;
  text-align: center;
  text-shadow: 1px 1px 4px #182447, 1px 1px 4px #182447, 1px 1px 4px #182447, 1px 1px 4px #182447;
}